body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/*公用样式*/ 
header {
    height: 80px;
    background: #522a5c;
}
header h1 {
    left: 110px;
    top: 38px;
    position: relative;
    width: 150px;
    margin: 0;
    font-size: 30px;
    color: #fff;
}
header ul {
    left: 858px;
    top: 2px;
    position: relative;
    width: 230px;
    list-style: none;
}
header ul li {
    float: left;
    margin-right: 28px;
}
header li a{
    text-decoration: none;
    font-size: 14px;
    font-family: "宋体";
    color: #fff;
}
header img {
    left: 895px;
    bottom: 4px;
    position: relative;
} 

footer {
    height: 396px;
    background: #000;
    text-align: center;
}
footer .menu {
    list-style: none;
    height: 38px;
    margin: 0;
    padding-left: 516px;
    border-bottom: 1px solid #333;
    line-height: 35px;
}
footer .menu li {
    float: left;
    margin-right: 24px;
}
footer .menu a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
footer h6{
    margin: 28px 0 18px 0;
    color: #ccc;
    font-size: 12px;
    font-weight: normal;
}
footer .link {
    float: left;
    width: 240px;
    height: 293px;
}
footer .link ul {
    list-style: none;
    left: -29px;
    position: relative;
}
footer .link li {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    line-height: 170%;
}
footer .link a {
    text-decoration: none;
}
footer .link a:hover {
    text-decoration: underline;
    color: #fff;
}
footer p {
    margin: 0 0 16px 0;
    font-size: 12px;
    color: #fff;
}

.search {
    width: 260px;
    height: 80px;
    margin-bottom: 10px;
    background: #fff;
}
.search .input {
    width :120px;
    height: 38px;
    margin: 18px 0 0 18px;
    padding:0 55px 0 46px;
    color: #999;
    border: 1px solid #ddd;
    background: url('../images/task0001_5.png') no-repeat;
    outline: 0;   /*点击输入框时去掉默认的外框*/
}
.search .submit {
    top: -41px;
    right: -186px;
    position: relative;
    width: 54px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('../images/task0001_9.png');
}
.search input.input:focus {
    border: 1px solid #343434;
}


/*index样式*/
.banner {
    position: relative;
    height: 526px;
    background-image: url('../images/banner-bg.jpg');
    background-size: 1200px 526px;
}
.banner .brief {
    right: 110px;
    bottom: 0;
    position: absolute;
    width: 360px;
    color: #fff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(256,256,256,0.3)), to(rgba(256,256,256,0.1)));
}
.banner h4 {
    margin: 0;
    padding: 10px 10px 12px;
    text-align: right;
    font-size: 14px;
}
.banner p {
    margin: 0;
    padding: 0 10px 30px;
    font-size: 12px;
    line-height: 150%;
    text-indent: 22px;
}

.content {
    padding-top: 1px;
    background: #eee;
    overflow: hidden;
}
.content .container {
    width: 980px;
    margin: 10px auto 110px;
    overflow: hidden;
}
.content .box {
    float: left;
    width: 300px;
    padding: 10px;
    background: #fff;
    /*以下方法用于使三列div高度一致，且等于内容最多的div的高度*/
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}
.content .box p {
    margin: 15px 20px;
    font-size: 12px;
    text-indent: 24px;
    line-height: 170%;
}
.content .gap {
    margin-right: 10px;
}

.introduce {
    height: 520px;
    background: #fff;
    text-align: center;
}
.introduce img {
    bottom: 50px;
    position: relative;
}
.introduce h2 {
    margin: 0;
    font-size: 20px;
    font-family: Century Gothic;
    font-weight: normal;
}
.introduce p {
    width: 600px;
    margin: 42px 300px;
    font-size: 14px;
    text-align: left;
    line-height: 170%;
    text-indent: 28px;
}


/*blog样式*/
.blog_content {
    background: #eee;
    overflow: hidden;
}
.blog_content .left {
    float: left;
    width: 763px;
    margin: 20px 10px 0 60px;
}
.blog_content .article {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}
.blog_content .article .label {
    width: 52px;
    height: 80px;
    margin-top: 20px;
    float: left;
}
.blog_content .article .label_top {
    height: 32px;
    padding-top: 8px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background :#522a5c;
}
.blog_content .article .label_bottom {
    height: 32px;
    padding-top: 8px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background :#a660b7;
}
.blog_content .article .text {
    float: right;
    width: 671px;
    padding: 0 20px;
    background: #fff;
}
.blog_content .article h4 {
    margin: 30px 0 20px 0;
    font-size: 20px;
    color: #a660b7;
}
.blog_content .article p {
    margin: 10px 0 10px 0;
    font-size: 14px;
    line-height: 150%;
}
.blog_content .article h6{
    margin: 30px 0 15px 0;
    font-weight: normal;
    color: #999;
    text-align: right;
}
.blog_content .page_number {
    width: 584px;
    height: 35px;
    margin: 16px 0 100px 117px;
}
.blog_content .number {
    display: inline-block;
    margin-right: 2px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: #fff;
}
.blog_content .number_1 {
    width: 72px;
}
.blog_content .number_2 {
    width: 40px;
}
.blog_content .number_3 {
    width: 54px;
}
.blog_content .number_4 {
    width: 40px;
    background: #a660b7;
}

.blog_content .right {
    float: left;
    width: 260px;
    margin-top: 20px;
}
.blog_content .blog_menu {
    width: 260px;
    height: 200px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
    background: #fff;
}
.blog_content .blog_menu a {
    display: inline-block;
    width: 260px;
    height: 49px;
    color: #666;
    line-height: 49px;
    text-indent: 12px;
    border-bottom: 1px solid #ddd;
    border-left: 5px solid #dfc6e6;
}
.blog_content .blog_menu a:hover {
    border-left: 5px solid #522a5c;
}
.blog_content .calendar {
    width: 260px;
    height: 240px;
    margin-bottom: 10px;
    text-align: center;
    background: #fff;
}
.blog_content .calendar h5 {
    margin: 0;
    padding: 22px 0 10px 0;
    color: #773c88;
}
.blog_content .calendar .arrow_1 {
    display: inline-block;
    left: -50px;
    position: relative;
    width: 13px;
    height: 13px;
    background: url('../images/task0001_7.png');
}
.blog_content .calendar .arrow_2 {
    left: 50px;
    position: relative;
    display: inline-block;
    width: 13px;
    height: 14px;
    background: url('../images/task0001_8.png');
}
.blog_content .calendar table {
    width: 222px;
    height: 170px;
    margin: 0 auto;
    font-size: 14px;
    color: #999;
}
.blog_content .calendar td{
    border-bottom: 1px solid #eee;
}


/*gallery样式*/
.gallery_content {
    height: 1240px;
    background: #eee;
}
.gallery_container {
    width: 980px;
    height: 1240px;
    margin: 0 auto;
}
.gallery_left {
    float: left;
    width: 710px;
    height: 1184px;
    margin-top: 20px;
}
.gallery_left .navigation {
    width: 640px;
    height: 50px;
    background: #fff;
}
.gallery_left .navigation a{
    display: inline-block;
    float: left;
    padding: 10px 14px 16px; 
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.gallery_left .navigation a:hover {
    border-bottom: 0;
}
.gallery_left .navigation .nav_1 {
    border-top: 5px solid #dfc6e6;
}
.gallery_left .navigation .nav_2 {
    border-top: 5px solid #522a5c;
}
.gallery_left .navigation .nav_3 {
    border-top: 5px solid #5900b2;
}
.gallery_left .navigation .nav_4 {
    border-top: 5px solid #8c2300;
}
.gallery_left .navigation .nav_5 {
    border-top: 5px solid #d9a300;
    border-right: 0;
}

.gallery_left .waterfall {
    width: 680px;
    height: 680px;
    padding: 20px 10px 30px 20px;
    background: #fff;
}
.gallery_left .waterfall .left {
    float: left;
    width: 340px;
}
.waterfall .left_left , .waterfall .left_right , .waterfall .middle , .waterfall .right {
    float: left;
    width: 170px;
}
.waterfall .left_top {
    width: 330px;
    margin: 0 10px 10px 0;
}
.waterfall .w_normal {
    float :left;
    width: 160px;
    margin: 0 10px 10px 0;
}
.waterfall .j {
    background: #522a5c;
}
.waterfall .a {
    background: #d9a300;
}
.waterfall .f {
    background: #8c2300;
}
.waterfall .u {
    background: #5900b2;
}
.j , .a , .f , .u {
    margin-top: -3px;
    padding: 10px;
    color: #fff;
}
.waterfall .tag {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
    padding-top: 1px;
    font-size: 18px;
    font-family: 'Helvetica'; 
    text-align: center;
    border: 1px solid #fff;  
    border-radius: 15px;
}
.waterfall h4 {
    margin: 0;
    font-weight: normal;
}
.waterfall p {
    margin: 0;
    padding: 5px 0 0 38px;
    font-size: 12px;
    line-height: 150%;
}
.gallery_left .more {
    height: 50px;
    margin-top: 10px;
    background: #fff;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
}
.gallery_left .more a {
    text-decoration: none;
    color: #666;
}
.gallery_left .more img {
    top: 9px;
    right: 5px;
    position: relative;
}

.gallery_right {
    float: right;
    width: 260px;
    margin-top: 70px;
}
.gallery_right .ranking { 
    margin: 10px 0; 
    padding: 15px; 
    background-color: #fff; 
} 
.gallery_right .ranking p { 
    margin-top: 0; 
    font-size: 14px; 
    color: #666; 
} 
.gallery_right .rank ul { 
    list-style-type: none; 
    padding: 0; 
} 
.gallery_right .rank li { 
    padding: 5px; 
} 
.gallery_right .circle { 
    float: left; 
    width: 20px; 
    height: 20px; 
    margin: 0; 
    background: #522a5c; 
    border-radius: 10px; 
} 
.gallery_right .circle span { 
    display: block; 
    height: 20px; 
    color: #fff; 
    line-height: 20px; 
    text-align: center; 
} 
.gallery_right .bar1 { 
    background:-webkit-gradient(linear,0% 0%, 100% 0%,from(#522a5c),to(#522a5c),color-stop(1.0,#522a5c), color-stop(1.0,#522a5c)); 
} 
.gallery_right .bar2 { 
    background:-webkit-gradient(linear,0% 0%, 100% 0%,from(#522a5c),  to(#fff),color-stop(0.8,#522a5c), color-stop(0.8,#fff)); 
} 
.gallery_right .bar3 { 
    background:-webkit-gradient(linear,0% 0%, 100% 0%,from(#522a5c),to(#fff),color-stop(0.6,#522a5c), color-stop(0.6,#fff)); 
} 
.gallery_right .bar4 { 
    background:-webkit-gradient(linear,0% 0%, 100% 0%,from(#522a5c),to(#fff),color-stop(0.4,#522a5c), color-stop(0.4,#fff)); 
} 
.gallery_right .bar5 { 
    background:-webkit-gradient(linear,0% 0%, 100% 0%,from(#522a5c),  to(#fff),color-stop(0.2,#522a5c), color-stop(0.2,#fff)); 
} 
.bar1, .bar2, .bar3, .bar4, .bar5 { 
    float: left; 
    height: 20px; 
    width: 100px; 
    margin: 0 10px; 
    border: solid 1px #522a5c; 
} 
.gallery_right .b_name { 
    display: inline-block; 
    font-size: 12px; 
    font-family: cursive;
} 


/*about样式*/
.about_container {
    width: 1200px;
    height: 1530px;
    padding-top: 1px;
    background: #eee;
}
.about {
    position: relative;
    width: 980px;
    height: 1400px;
    margin: 100px auto 30px;
    background: #fff;
}
.about .separate {
    width: 5px;
    height: 1400px;
    margin: 0 auto;
    background: #eee;
}
.about .photo_1 {
    width: 182px;
    margin: 0 auto;
}
.about .photo_1 img {
    top: -65px;
    position: absolute;
    border: 10px solid #eee;
    border-radius: 50%;
}
.photo_2 , .photo_3 , .photo_4 {
    width: 110px;
    margin: 0 auto;
}
.photo_2 img , .photo_3 img , .photo_4 img {
    position: absolute;
    border: 5px solid #eee;
    border-radius: 50%;
}
.about .photo_2 img {
    top: 300px;
}
.about .photo_3 img {
    top: 540px;
}
.about .photo_4 img {
    top: 930px;
}

.about .a_left {
    display: block;
    left: 330px;
    position: absolute;
    width: 80px;
    font-size: 20px;
    text-align: right;
}
.about .al_name {
    top: 160px;
}
.about .al_contact {
    top: 440px; 
}
.about .al_educate {
    top: 700px;
}
.about .al_exercitation {
    top: 1085px;
}
.about .a_right {
    left: 545px;
    position: absolute;
    width: 322px;
    font-size: 14px;
    line-height: 150%;
}
.about .ar_name {
    top: 147px;
}
.about .ar_contact {
    top: 425px;
}
.about .ar_educate {
    top: 658px;
}
.about .ar_educate p{
    margin-top: 44px;
}
.about .ar_educate p span , .about .ar_exercitation p span {
    font-size: 12px;
}
.about .ar_exercitation {
    top: 1030px;
}
.about .ar_exercitation p{
    margin-top: 42px;
}

.about .a_middle {
    display: block;
    left: 455px;
    position: absolute;
    width: 60px;
    height: 22px;
    padding-top: 4px;
    font-size: 14px;
    color: #666;
    text-align: center;
    background: #fff;
    border-radius: 12px;
    border: 5px solid #eee; 
}
.about .a_highschool {
    top: 694px;
}
.about .a_bachelor {
    top: 774px;
}
.about .a_master {
    top: 854px;
}
.about .a_exer1 {
    top: 1078px;
}
.about .a_exer2 {
    top: 1158px;
}